@import url(root.css);
@import url(reset.css);

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#content{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 40px;
    background-color: var(--branco);
}



/* SECTION 1 */
#sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#sec1 > h2{
    display: flex;
    font-size: 16px;
    font-weight: 400;
}

#sec1 > span{
    display: flex;
    justify-content: center;
    gap: 5px;
}

#sec1-span-link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: var(--roxo-azulado);
}

#sec1-span-svg{
    width: 8px;
    rotate: 180deg;
    fill: var(--roxo-azulado);
}




/* SECTION 2 */
/* Parte 1 */
#sec2{
    display: flex;
    gap: 35px;
}

#btn-signGoogle{
    width: 300px;
    height: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 24px;
    border: none;
    border-radius: 5px;
    padding: 0 0 0 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--branco);
}

#btn-signGoogle:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

#btn-signGoogle > img{
    width: 18px;
}

/* Parte 2 */
#linha-vertical{
    width: 1px;
    height: 206px;
    background-color: #CCCCCC;
}

/* Parte 3 */
#login-EmailSenha{
    width: 300px;
    display: flex;
    flex-direction: column;
}

#campo-dupla{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo-solo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo-solo > label{
    font-size: 13px;
    color: rgb(44, 41, 41);
}

#ipt-email{
    border: 1px solid rgb(133, 133, 133);
    border-radius: 4px;
    padding: 12px;
}

#span-senha{
    height: 42px;
    display: flex;
    flex-direction: column;
}

#ipt-senha{
    width: 100%;
    border: none;
    border-right: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 4px;
    padding: 12px;
}

#ipt-email:hover, #ipt-senha:hover{
    border: 1px solid #1f73b7;
}

#ipt-email:focus, #ipt-senha:focus{
    outline: 3px solid #1f73b7;
}

svg#icon-olhinho{
    cursor: pointer;
    width: 20px;
    margin: -30px 12px 0 0;
    float: right;
    border-left: none;
}

#esqueceuSenha-btnSignIn{
    display: flex;
    flex-direction: column;
}

#esqueceu-senha{
    margin: 10px 0 20px 0;
    font-size: 13px;
    color: var(--links-login);
}

#btn-signIn{
    cursor: pointer;
    height: 42px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: var(--branco);
    background-color: #1f73b7;
    transition: .3s;
}

#btn-signIn:hover{
    background-color: #144a75;
}



/* SECTION 3 */
#sec3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sec3-span{
    font-size: 13px;
    font-weight: 300;
    color: #49545C;
}

.sec3-links{
    font-size: 13px;
    color: #144a75;
}