@import url(../root.css);
@import url(../reset.css);


#sec1{
    padding: 68px 90px 76px 90px;
    background-color: var(--lilas-claro);
}

#navegacao{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 21px;
    margin-bottom: 15px;
}

.navegacao-link{
    font-size: 14px;
    text-decoration: none;
    color: var(--preto);
}

.navegacao-link:hover{
    text-decoration: underline;
    color: var(--roxo-azulado);
}

.icon-seta{
    height: 10px;
    margin-top: -3px;
}

#sec-titulo{
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -5px;
}