@import url(../root.css);
@import url(../reset.css);

#sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 90px 90px;
}

.dupla{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content{
    width: 45%;
}

.content-h3{
    margin: 48px 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 2.3rem;
    color: var(--preto2);
}

.content-ul{
    margin: 16px 0 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.content-ul-link{
    text-decoration: none;
    color: var(--preto2);
}

.content-ul-link:hover{
    text-decoration: underline;
}

.link-expandir{
    font-size: 20px;
    text-decoration: none;
    color: var(--roxo-azulado);
}

.link-expandir:hover{
    text-decoration: underline;
}

.topicos{
    padding-left: 32px;
}

.topicos-h3{
    margin: 48px 0 16px;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    color: var(--preto2);
}